.beyond-editor {
  width: calc(100% - 30px);
  border: 1px solid gray;
  background: var(--beyond-gray-lighter-color);
  padding: 15px;
}

.page-container {
  padding: 30px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.file-input {
  display: none;
}

img {
  width: 50%;
  aspect-ratio: 16/9;
}

pre {
  background: var(--gray-darker);
  padding: .5rem; 
}