.results {
    header {
        height: 2rem;

        h1 {
            font-size: 1.2rem;
        }
    }

    .results-aside {
        background: var(--primary);
        border-radius: 5px;
        padding: 1rem;
        max-width: 20rem;
        min-height: 52vh;
        max-height: 35rem;

        overflow: auto;

        ul {
            list-style: none;
            padding: 0;
            
    
            li {
                overflow: auto;
    
                p {
                    word-break: break-all;
                }
            }
        }
    }
}