@mixin properties() {
  --primary-surface: #01161e;
  --primary: #0a252f;
  --secondary-primary: #071a20;
  --accent-color: #124352;
  
  //secondary colors
  --secondary: #121F36;
  --secondary-dark: #030405;
  --secondary-darker: #0C1525;
  --secondary-light: #39393a;
  --secondary-accent: #8E99BB;

  --text-on-secondary: #FFFFFF;
  --text-color: #ffffffe8;
  --text-title-color: var(--text-on-primary);
  --text-second-color: var(--gray-dark);

  --text-hover-color: var(--primary);
  --bg-element: var(--secondary-dark);
  --element-border-color: var(--gray-light);
  --separator-color: var(--gray-lighter);
}